body{
    text-align: center;
}

#wrongLetters{
    border-style: solid;
    border-width: thin;
}

#im{
    height: 20%;
    width: 20%;
}

#gameOver, #wordWas{
    font-size: 15pt;
    position: relative;
    bottom: 50px;
}

button{
    background-color: lightblue;
    border-color: black;
}

#gamesLost, #gamesWon {
    position: relative;
}